
        .home {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: rgb(41, 182, 182);
        }

        header {
            text-align: center;
            padding: 20px;
            background-color: #333;
            color: #fff;
        }

        section {
            margin-top: 20px;
        }

        footer {
            text-align: center;
            padding: 10px;
            background-color: #333;
            color: #fff;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        div #article {
            margin:50px;
            text-align:justify;
        }

        article {
            border-style:ridge;
            border-width:10px;
            padding:10px;   
        }

        body {
            background-color: rgb(149, 177, 180);
        }
        .heading {
            text-align:center;
            font-style:oblique;
            background-image: url("ANY.jpg");
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        nav {
            background-color: peru;
            padding: 1em;
            text-align: center;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            padding: 0.5em 1em;
            margin: 0 1em;
            border-radius: 5px;
            background-color: rgb(201, 153, 105);
        }

        nav a:hover {
            background-color: rgb(215, 159, 110);
        }
        
        .index {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: rgb(41, 182, 182);
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 1em;
            text-align: center;
        }

        section {
            padding: 2em;
        }

        .pet-card {
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 1em;
            padding: 1em;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .pet-image {
            max-width: 100%;
            border-radius: 5px;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 1em;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        nav {
            background-color: peru;
            padding: 1em;
            text-align: center;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            padding: 0.5em 1em;
            margin: 0 1em;
            border-radius: 5px;
            background-color: rgb(201, 153, 105);
        }

        nav a:hover {
            background-color: rgb(215, 159, 110);
        }
        